@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    list-style: none;
    text-decoration: none;
}

.hero {
  position: relative;
  height: 100%;
  width: 100%;
  background: radial-gradient(#254335, #191a1e);
}