@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100%;
    height: 80px;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    font-family: 'Outfit', sans-serif;
    background-color:darkred;
}

header .inner {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;    
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 20px;
}

.navigation a li:hover {
    color:cornsilk;
}

.reveal {
    color:#0000;
    background:
      linear-gradient(#00DFFC 0 0),
      linear-gradient(#00DFAF 0 0);
    background-size:0 100%;
    background-position:0 0;
    -webkit-background-clip:padding-box,text;
            background-clip:padding-box,text;
    background-repeat:no-repeat;
    -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
    animation: 
     t 1.2s  .5s both,
     b 1.2s 1.3s both;
  }
  @keyframes t{
    to {background-size:150% 100%}
  }
  @keyframes b{
    to {background-position:-200% 0,0 0}
  }
  
  body {
    font-family: sans-serif;
    font-weight: 700;
    background:#005F6B;
    color:#00DFFC
  }
  p {
    font-size:25px;
  }
  h1 {
    font-size:40px;
    text-align:center;
  }
  h1,p{
    margin:10px auto;
    max-width:600px;
  }