@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    list-style: none;
    text-decoration: none;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background: radial-gradient(#f7a902, #410a06);
}

.container {
  width: 1350px;
  max-width: 95%;
  margin: 0 auto;
  position: relative;
  height: 100hv;
}